{% extends 'base.html' %}


{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="text-center">Login</h2>
    <form method="POST" id="login_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="form-group">
        {{ field.label }}
        {{ field(placeholder=field.label.text, class="form-control") }}<br>
        </div>
      {% endfor %}
      <div class="col text-center"> 
      <button class="btn btn-primary btn-lg btn-block ">Login</button>
      <button class="btn btn-primary btn-lg btn-block "><a href="/" class="anchor-cls" >Cancel</a></button>
      </div>
    </form>
  </div>
</div>

{% endblock %}