{% extends 'base.html' %}

{% block title %}New User Form{% endblock %}

{% block content %}
<form  action="/users/{{user.id}}/edit" method="post">
    <h1> Edit a user</h1>
<div>
    <label>First Name</label><br>
    <input name = "fname" type = "text" value ="{{user.first_name}}" /><br><br>
    <label>Last Name</label><br>
    <input name = "lname" type = "text" value ="{{user.last_name}}"/><br><br>
    <label>Image URL</label><br>
    <input name = "image" type = "url" value ="{{user.image_url}}" /><br><br>
    <button name="edited" type="submit">Submit</button>
</div>
</form>

{% endblock %}